phive-rules-oioubl/src/test/resources/rule-source/oioubl/1.13.0/OIOUBL_OrderResponseSimple_Schematron.xml

<?xml version="1.0" encoding="UTF-8"?>

<!--
******************************************************************************************************************

		OIOUBL Schematron

		publisher:          NemHandel / Erhvervsstyrelsen
        Repository path:    $HeadURL$
        File version:       $Revision$
        Last changed by:    $Author$
        Last changed date:  $Date$

		Description:        This document is produced as part of the OIOUBL schematron package
		Rights:             It can be used following the Common Creative Licence

		all terms derived from http://dublincore.org/documents/dcmi-terms/

		For more information, see www.oioubl.info or email support@nemhandel.dk

******************************************************************************************************************
-->

<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">

	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2"          prefix="doc"/>
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"    prefix="cac"/>
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"        prefix="cbc"/>
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:CoreComponentParameters-2"      prefix="ccts"/>
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:SpecializedDatatypes-2"         prefix="sdt"/>
	<sch:ns uri="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" prefix="udt"/>
	<!-- [Release 20120615] Check added according to issue: https://bugs.softwareborsen.dk/show_bug.cgi?id=934 -->
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" prefix="ext"/>
	<sch:ns uri="http://www.w3.org/2001/XMLSchema"                                            prefix="xs"/>

	<sch:p>Schematron for validating OIOUBL-2.1 documents.</sch:p>
	<sch:title>Checking OIOUBL-2.1 OrderResponseSimple</sch:title>


	<!-- Inclusion of OIOUBL codelist variables -->
	<sch:include href="OIOUBL_Codelist_Schematron.xml"/>


	<!-- Global variables -->


	<!-- The default phase to execute when validating -->
	<sch:phase id="default">
		<sch:active pattern="ublextensions"/>
		<sch:active pattern="profile"/>
		<sch:active pattern="orderresponsesimple"/>
		<sch:active pattern="orderreference"/>
		<sch:active pattern="additionaldocumentreference"/>
		<sch:active pattern="signature"/>
		<sch:active pattern="sellersupplierparty"/>
		<sch:active pattern="buyercustomerparty"/>
		<sch:active pattern="originatorcustomerparty"/>
		<sch:active pattern="accountingsupplierparty"/>
		<sch:active pattern="accountingcustomerparty"/>
	</sch:phase>


	<!-- Inclusion of OIOUBL common rules -->
	<sch:include href="OIOUBL_Common_Schematron.xml"/>


	<!-- - - - - - - - - - - -  UBLExtensions - - - - - - - - - - - - -  -->
	<!-- [Release 20120615] Check added according to issue: https://bugs.softwareborsen.dk/show_bug.cgi?id=934 -->
	<sch:pattern name="UBLExtensions" id="ublextensions">
		<sch:p>Pattern for validating the UBLExtensions class</sch:p>
		<sch:rule context="doc:OrderResponseSimple">
			<sch:extends rule="UBLExtensionsCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  Profile - - - - - - - - - - - - -  -->
	<sch:pattern name="Profile" id="profile">
		<sch:p>Pattern for validating root element, Profile and UBL version</sch:p>
		<!-- Validate root element -->
		<sch:rule context="/">
			<sch:assert test="local-name(*) = 'OrderResponseSimple'">[F-ORS001] Root element must be OrderResponseSimple</sch:assert>
			<!-- [Release 20130315] Check added according to issue: https://bugs.softwareborsen.dk/show_bug.cgi?id=1023 -->
			<sch:assert test="namespace-uri(*) = 'urn:oasis:names:specification:ubl:schema:xsd:OrderResponseSimple-2'">[F-ORS063] The documenttype does not match an OIOUBL OrderResponseSimple and can not be validated by this schematron.</sch:assert>
		</sch:rule>
		<sch:rule context="doc:OrderResponseSimple">
			<!-- Check ProfileID, UBLVersionID and CustomizationID -->
			<sch:extends rule="UBLVersionIDCheck"/>
			<sch:extends rule="CustomizationIDCheck"/>
			<sch:extends rule="ProfileIDCheck"/>

			<!-- Check Profile dependencies (top level) -->

		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  OrderResponseSimple (ORS062)- - - - - - - - - - -  -->
	<sch:pattern name="OrderResponseSimple" id="orderresponsesimple">
		<sch:p>Pattern for validating the OrderResponseSimple structure</sch:p>
		<sch:rule context="doc:OrderResponseSimple">
			<!-- Check for excluded elements -->
			<sch:assert test="count(cbc:CustomerReference) = 0">[F-ORS002] CustomerReference element must be excluded</sch:assert>
			<sch:assert test="count(cbc:AccountingCostCode) = 0">[F-ORS003] AccountingCostCode element must be excluded</sch:assert>
			<sch:report test="cbc:AcceptedIndicator = 'true' and cbc:RejectionNote">[W-ORS005] RejectionNote element should be excluded when AcceptedIndicator equals 'true'</sch:report>
			<!-- Check for mandatory elements -->
			<sch:report test="cbc:AcceptedIndicator = 'false' and not(cbc:RejectionNote)">[F-ORS007] There must be a RejectionNote element when AcceptedIndicator equals 'false'</sch:report>
			<!-- Validate -->
			<sch:assert test="cbc:ID != ''">[F-ORS008] Invalid ID. Must contain a value</sch:assert>
		</sch:rule>

		<!-- Validate CopyIndicator -->

		<!-- Validate UUID -->
		<sch:rule context="doc:OrderResponseSimple/cbc:UUID">
			<sch:extends rule="UUIDCheck"/>
		</sch:rule>

		<!-- Validate IssueDate -->
		<!-- Validate IssueTime -->

		<!-- Validate Note -->
		<sch:rule context="doc:OrderResponseSimple/cbc:Note">
			<sch:extends rule="NoteCheck"/>
		</sch:rule>

		<!-- Validate AcceptedIndicator -->
		<!-- Validate RejectionNote -->
		<!-- Validate CustomerReference (excluded) -->
		<!-- Validate AccountingCostCode (excluded) -->
		<!-- Validate AccountingCost (excluded) -->
	</sch:pattern>

	<!-- - - - - - - - - - - -  OrderReference - - - - - - - - - - -  -->
	<sch:pattern name="OrderReference" id="orderreference">
		<sch:p>Pattern for validating the OrderReference class</sch:p>
		<sch:rule context="doc:OrderResponseSimple/cac:OrderReference">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:assert test="cbc:ID != ''">[F-ORS011] Invalid ID. Must contain a value</sch:assert>
		</sch:rule>
		<!-- Validate UUID -->
		<sch:rule context="doc:OrderResponseSimple/cac:OrderReference/cbc:UUID">
			<sch:extends rule="UUIDCheck"/>
		</sch:rule>
		<!-- Validate IssueDate -->
		<!-- Validate DocumentReference -->
		<sch:rule context="doc:OrderResponseSimple/cac:OrderReference/cac:DocumentReference">
			<sch:extends rule="KnownDocumentReferenceCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  AdditionalDocumentReference - - - - - - - - - - -  -->
	<sch:pattern name="AdditionalDocumentReference" id="additionaldocumentreference">
		<sch:p>Pattern for validating the AdditionalDocumentReference class</sch:p>
		<sch:rule context="doc:OrderResponseSimple/cac:AdditionalDocumentReference">
			<sch:extends rule="DocumentReferenceCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  Signature - - - - - - - - - - -  -->
	<sch:pattern name="Signature" id="signature">
		<sch:p>Pattern for validating the Signature class</sch:p>
		<sch:rule context="doc:OrderResponseSimple/cac:Signature">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:assert test="cbc:ID != ''">[F-ORS012] Invalid ID. Must contain a value</sch:assert>
		</sch:rule>
		<!-- Validate SignatoryParty -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
			<sch:report test="count(cac:PartyLegalEntity) &gt; 1">[F-ORS061] No more than one PartyLegalEntity class may be present</sch:report>
		</sch:rule>
		<!-- Validate SignatoryParty/PartyIdentification -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/PartyName -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PartyName">
			<sch:extends rule="PartyNameLanguageCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/PostalAddress -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/PhysicalLocation -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/PhysicalLocation/ValidityPeriod -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/PhysicalLocation/ValidityPeriod/Description -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/PhysicalLocation/Address -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/PartyTaxScheme -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/PartyTaxScheme/TaxScheme -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/PartyLegalEntity -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/Contact -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:Contact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>
		<!-- Validate SignatoryParty/Person -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:SignatoryParty/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>

		<!-- Validate DigitalSignatureAttachment -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:DigitalSignatureAttachment">
			<sch:extends rule="AttachmentCheck"/>
		</sch:rule>

		<!-- Validate OriginalDocumentReference -->
		<sch:rule context="doc:OrderResponseSimple/cac:Signature/cac:OriginalDocumentReference">
			<sch:extends rule="DocumentReferenceCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  SellerSupplierParty - - - - - - - - - - -  -->
	<sch:pattern name="SellerSupplierParty" id="sellersupplierparty">
		<sch:p>Pattern for validating the SellerSupplierParty class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty">
			<!-- Check for excluded elements -->
			<sch:assert test="count(cbc:DataSendingCapability) = 0">[F-ORS013] DataSendingCapability element must be excluded</sch:assert>

			<!-- Check for mandatory elements -->
			<sch:assert test="count(cac:Party) = 1">[F-ORS014] Party class must be present</sch:assert>
		</sch:rule>

		<!-- - - - - - - - - - - -  Party - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>

			<!-- Check for mandatory elements -->
			<sch:assert test="cbc:EndpointID != ''">[F-ORS015] Invalid EndpointID. Must contain a value</sch:assert>
			<sch:assert test="count(cac:PartyLegalEntity) = 1">[F-ORS016] One PartyLegalEntity class must be present</sch:assert>

			<!-- Validate -->
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyName - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  PostalAddress - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PhysicalLocation - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod/Description -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate Address -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme/TaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyLegalEntity - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Contact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:Contact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Person - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:Party/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  DespatchContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:DespatchContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  AccountingContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:AccountingContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  SellerContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:SellerContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  BuyerCustomerParty - - - - - - - - - - -  -->
	<sch:pattern name="BuyerCustomerParty" id="buyercustomerparty">
		<sch:p>Pattern for validating the BuyerCustomerParty class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty">
			<!-- Check for excluded elements -->
			<sch:assert test="count(cbc:CustomerAssignedAccountID) = 0">[F-ORS022] CustomerAssignedAccountID element must be excluded</sch:assert>
			<sch:assert test="count(cbc:AdditionalAccountID) = 0">[F-ORS023] AdditionalAccountID element must be excluded</sch:assert>

			<!-- Check for mandatory elements -->
			<sch:assert test="count(cac:Party) = 1">[F-ORS024] One Party class must be present</sch:assert>

		</sch:rule>

		<!-- - - - - - - - - - - -  Party - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>

			<!-- Check for mandatory elements -->
			<sch:assert test="cbc:EndpointID != ''">[F-ORS025] Invalid EndpointID. Must contain a value</sch:assert>

			<!-- Validate -->
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
			<sch:report test="count(cac:PartyLegalEntity) &gt; 1">[F-ORS026] No more than one PartyLegalEntity class may be present</sch:report>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyName - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PartyName">
			<sch:extends rule="PartyNameLanguageCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PostalAddress - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PhysicalLocation - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod/Description -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate Address -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme/TaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyLegalEntity - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Contact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:Contact">
		</sch:rule>

		<!-- - - - - - - - - - - -  Person - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:BuyerCustomerParty/cac:Party/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  DeliveryContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:DeliveryContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  AccountingContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:AccountingContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  BuyerContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:SellerSupplierParty/cac:BuyerContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  OriginatorCustomerParty - - - - - - - - - - -  -->
	<sch:pattern name="OriginatorCustomerParty" id="originatorcustomerparty">
		<sch:p>Pattern for validating the OriginatorCustomerParty class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<sch:assert test="count(cac:Party) = 1">[F-ORS033] Party class must be present</sch:assert>
		</sch:rule>

		<!-- - - - - - - - - - - -  Party - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:report test="count(cac:PartyLegalEntity) &gt; 1">[F-ORS034] No more than one PartyLegalEntity class may be present</sch:report>
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyName - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PartyName">
			<sch:extends rule="PartyNameLanguageCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PostalAddress - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PhysicalLocation - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod/Description -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate Address -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme/TaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyLegalEntity - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Contact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:Contact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Person - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:Party/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  DeliveryContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:DeliveryContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  AccountingContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:AccountingContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  BuyerContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:OriginatorCustomerParty/cac:BuyerContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  AccountingSupplierParty - - - - - - - - - - -  -->
	<sch:pattern name="AccountingSupplierParty" id="accountingsupplierparty">
		<sch:p>Pattern for validating the AccountingSupplierParty class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty">
			<!-- Check for excluded elements -->
			<sch:assert test="count(cbc:DataSendingCapability) = 0">[F-ORS042] DataSendingCapability element must be excluded</sch:assert>

			<!-- Check for mandatory elements -->
			<sch:assert test="count(cac:Party) = 1">[F-ORS043] Party class must be present</sch:assert>
		</sch:rule>

		<!-- - - - - - - - - - - -  Party - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>

			<!-- Check for mandatory elements -->

			<!-- Validate -->
			<sch:report test="count(cac:PartyLegalEntity) &gt; 1">[F-ORS062] No more than one PartyLegalEntity class may be present</sch:report>
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyName - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  PostalAddress - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PhysicalLocation - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod/Description -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate Address -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme/TaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyLegalEntity - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Contact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:Contact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Person - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:Party/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  DespatchContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:DespatchContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  AccountingContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:AccountingContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  SellerContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingSupplierParty/cac:SellerContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  AccountingCustomerParty - - - - - - - - - - -  -->
	<sch:pattern name="AccountingCustomerParty" id="accountingcustomerparty">
		<sch:p>Pattern for validating the AccountingCustomerParty class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<sch:assert test="count(cac:Party) = 1">[F-ORS052] Party class must be present</sch:assert>
		</sch:rule>

		<!-- - - - - - - - - - - -  Party - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:report test="count(cac:PartyLegalEntity) &gt; 1">[F-ORS053] No more than one PartyLegalEntity class may be present</sch:report>
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyName - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PartyName">
			<sch:extends rule="PartyNameLanguageCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PostalAddress - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PhysicalLocation - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod/Description -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate Address -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme/TaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyLegalEntity - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Contact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:Contact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Person - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:Party/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  DeliveryContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:DeliveryContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  AccountingContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:AccountingContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  BuyerContact - - - - - - - - - - -  -->
		<sch:rule context="doc:OrderResponseSimple/cac:AccountingCustomerParty/cac:BuyerContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>
	</sch:pattern>

</sch:schema>