phive-rules-oioubl/src/test/resources/external/rule-source/oioubl/1.12.3/OIOUBL_CatalogueRequest_Schematron.xml

<?xml version="1.0" encoding="UTF-8"?>

<!--
******************************************************************************************************************

		OIOUBL Schematron

		publisher:          NemHandel / Erhvervsstyrelsen
        Repository path:    $HeadURL$
        File version:       $Revision$
        Last changed by:    $Author$
        Last changed date:  $Date$

		Description:        This document is produced as part of the OIOUBL schematron package
		Rights:             It can be used following the Common Creative Licence

		all terms derived from http://dublincore.org/documents/dcmi-terms/

		For more information, see www.oioubl.info or email support@nemhandel.dk

******************************************************************************************************************
-->

<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron">

	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2"             prefix="doc"/>
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"    prefix="cac"/>
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"        prefix="cbc"/>
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:CoreComponentParameters-2"      prefix="ccts"/>
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:SpecializedDatatypes-2"         prefix="sdt"/>
	<sch:ns uri="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" prefix="udt"/>
	<!-- [Release 20120615] Check added according to issue: https://bugs.softwareborsen.dk/show_bug.cgi?id=934 -->
	<sch:ns uri="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" prefix="ext"/>
	<sch:ns uri="http://www.w3.org/2001/XMLSchema"                                            prefix="xs"/>

	<sch:p>Schematron for validating OIOUBL-2.1 documents.</sch:p>
	<sch:title>Checking OIOUBL-2.1 CatalogueRequest</sch:title>


	<!-- Inclusion of OIOUBL codelist variables -->
	<sch:include href="OIOUBL_Codelist_Schematron.xml"/>


	<!-- Global variables -->


	<!-- The default phase to execute when validating -->
	<sch:phase id="default">
		<sch:active pattern="ublextensions"/>
		<sch:active pattern="profile"/>
		<sch:active pattern="cataloguerequest"/>
		<sch:active pattern="validityperiod"/>
		<sch:active pattern="receiverparty"/>
		<sch:active pattern="providerparty"/>
		<sch:active pattern="sellersupplierparty"/>
		<sch:active pattern="contractorcustomerparty"/>
		<sch:active pattern="requestedcataloguereference"/>
		<sch:active pattern="referencedcontract"/>
		<sch:active pattern="tradingterms"/>
		<sch:active pattern="documentreference"/>
		<sch:active pattern="applicableterritoryaddress"/>
		<sch:active pattern="requestedlanguage"/>
		<sch:active pattern="requestedclassificationscheme"/>
		<sch:active pattern="cataloguerequestline"/>
	</sch:phase>


	<!-- Inclusion of OIOUBL common rules -->
	<sch:include href="OIOUBL_Common_Schematron.xml"/>


	<!-- - - - - - - - - - - -  UBLExtensions - - - - - - - - - - - - -  -->
	<!-- [Release 20120615] Check added according to issue: https://bugs.softwareborsen.dk/show_bug.cgi?id=934 -->
	<sch:pattern name="UBLExtensions" id="ublextensions">
		<sch:p>Pattern for validating the UBLExtensions class</sch:p>
		<sch:rule context="doc:CatalogueRequest">
			<sch:extends rule="UBLExtensionsCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  Profile - - - - - - - - - - - - -  -->
	<sch:pattern name="Profile" id="profile">
		<sch:p>Pattern for validating root element, Profile and UBL version</sch:p>
		<!-- Validate root element -->
		<sch:rule context="/">
			<sch:assert test="local-name(*) = 'CatalogueRequest'">[F-CRQ001] Root element must be CatalogueRequest</sch:assert>
			<!-- [Release 20130315] Check added according to issue: https://bugs.softwareborsen.dk/show_bug.cgi?id=1023 -->
			<sch:assert test="namespace-uri(*) = 'urn:oasis:names:specification:ubl:schema:xsd:CatalogueRequest-2'">[F-CRQ245] The documenttype does not match an OIOUBL CatalogueRequest and can not be validated by this schematron.</sch:assert>
		</sch:rule>
		<sch:rule context="doc:CatalogueRequest">
			<!-- Check ProfileID, UBLVersionID and CustomizationID -->
			<sch:extends rule="UBLVersionIDCheck"/>
			<sch:extends rule="CustomizationIDCheck"/>
			<sch:extends rule="ProfileIDCheck"/>

			<!-- Check Profile dependencies (top level) -->
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  CatalogueRequest (CRQ244) - - - - - - - - - - -  -->
	<sch:pattern name="CatalogueRequest" id="cataloguerequest">
		<sch:p>Pattern for validating the CatalogueRequest structure</sch:p>
		<sch:rule context="doc:CatalogueRequest">
			<!-- Check for excluded elements -->
			<sch:assert test="count(cbc:LineCountNumeric) = 0">[F-CRQ005] LineCountNumeric element must be excluded</sch:assert>
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:assert test="cbc:ID != ''">[F-CRQ002] Invalid ID. Must contain a value</sch:assert>
			<sch:report test="cac:SellerSupplierParty and cac:ProviderParty/cac:PartyIdentification/cbc:ID = cac:SellerSupplierParty/cac:Party/cac:PartyIdentification/cbc:ID">[F-CRQ006] SellerSupplierParty must be different from ProviderParty</sch:report>
			<sch:report test="cac:ContractorCustomerParty and cac:ReceiverParty/cac:PartyIdentification/cbc:ID = cac:ContractorCustomerParty/cac:Party/cac:PartyIdentification/cbc:ID">[F-CRQ007] ContractorCustomerParty must be different from ReceiverParty</sch:report>
			<sch:report test="count(cac:ReferencedContract) &gt; 1">[F-CRQ009] No more than one ReferencedContract class may be present</sch:report>
			<sch:report test="count(cac:RequestedClassificationScheme) &gt; 1">[F-CRQ010] No more than one RequestedClassificationScheme class may be present</sch:report>
		</sch:rule>

		<!-- Validate UUID -->
		<sch:rule context="doc:CatalogueRequest/cbc:UUID">
			<sch:extends rule="UUIDCheck"/>
		</sch:rule>

		<!-- Validate IssueDate -->
		<!-- Validate IssueTime -->

		<!-- Validate Note -->
		<sch:rule context="doc:CatalogueRequest/cbc:Note">
			<sch:extends rule="NoteCheck"/>
		</sch:rule>

		<!-- Validate Description -->
		<sch:rule context="doc:CatalogueRequest/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>

		<!-- Validate PricingUpdateRequestIndicator -->
		<!-- Validate ItemUpdateRequestIndicator -->
		<!-- Validate LineCountNumeric (excluded) -->
	</sch:pattern>


	<!-- - - - - - - - - - - -  ValidityPeriod - - - - - - - - - - -  -->
	<sch:pattern name="ValidityPeriod" id="validityperiod">
		<sch:p>Pattern for validating the ValidityPeriod class</sch:p>
		<sch:rule context="doc:CatalogueRequest/cac:ValidityPeriod">
			<!-- Validate -->
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate Description -->
		<sch:rule context="doc:CatalogueRequest/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  ReceiverParty - - - - - - - - - - -  -->
	<sch:pattern name="ReceiverParty" id="receiverparty">
		<sch:p>Pattern for validating the ReceiverParty class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>
			<!-- Check for mandatory elements -->
			<sch:assert test="cbc:EndpointID != ''">[F-CRQ050] Invalid EndpointID. Must contain a value</sch:assert>
			<!-- Validate -->
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
			<sch:report test="count(cac:PartyLegalEntity) &gt; 1">[F-CRQ051] No more than one PartyLegalEntity class may be present</sch:report>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyName - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PartyName">
			<sch:extends rule="PartyNameLanguageCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PostalAddress - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PhysicalLocation - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod/Description -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate Address -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme/TaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyLegalEntity - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Contact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:Contact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Person - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ReceiverParty/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>
	</sch:pattern>


	<!-- - - - - - - - - - - -  ProviderParty - - - - - - - - - - -  -->
	<sch:pattern name="ProviderParty" id="providerparty">
		<sch:p>Pattern for validating the ProviderParty class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>
			<!-- Check for mandatory elements -->
			<sch:assert test="cbc:EndpointID != ''">[F-CRQ040] Invalid EndpointID. Must contain a value</sch:assert>
			<!-- Validate -->
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
			<sch:report test="count(cac:PartyLegalEntity) &gt; 1">[F-CRQ041] No more than one PartyLegalEntity class may be present</sch:report>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyName - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PartyName">
			<sch:extends rule="PartyNameLanguageCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PostalAddress - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PhysicalLocation - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod/Description -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate Address -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme/TaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyLegalEntity - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Contact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:Contact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Person - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ProviderParty/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  SellerSupplierParty - - - - - - - - - - -  -->
	<sch:pattern name="SellerSupplierParty" id="sellersupplierparty">
		<sch:p>Pattern for validating the SellerSupplierParty class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty">
			<!-- Check for excluded elements -->
			<sch:assert test="count(cbc:DataSendingCapability) = 0">[F-CRQ060] DataSendingCapability element must be excluded</sch:assert>
			<!-- Check for mandatory elements -->
			<sch:assert test="count(cac:Party) = 1">[F-CRQ061] One Party class must be present</sch:assert>
		</sch:rule>

		<!-- - - - - - - - - - - -  Party - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
			<sch:report test="count(cac:PartyLegalEntity) &gt; 1">[F-CRQ062] No more than one PartyLegalEntity class may be present</sch:report>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyName - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PartyName">
			<sch:extends rule="PartyNameLanguageCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PostalAddress - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PhysicalLocation - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod/Description -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate Address -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme/TaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyLegalEntity - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Contact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:Contact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Person - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:Party/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  DespatchContact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:DespatchContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  AccountingContact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:AccountingContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  SellerContact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:SellerSupplierParty/cac:SellerContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>
	</sch:pattern>


	<!-- - - - - - - - - - - -  ContractorCustomerParty - - - - - - - - - - -  -->
	<sch:pattern name="ContractorCustomerParty" id="ContractorCustomerParty">
		<sch:p>Pattern for validating the ContractorCustomerParty class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<sch:assert test="count(cac:Party) = 1">[F-CRQ070] Party class must be present</sch:assert>
		</sch:rule>

		<!-- - - - - - - - - - - -  Party - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party">
			<!-- Check for excluded elements -->
			<sch:extends rule="PartyExcludedCheck"/>
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:extends rule="PartyNameCheck"/>
			<sch:extends rule="EndpointIDCheck"/>
			<sch:report test="count(cac:PartyLegalEntity) &gt; 1">[F-CRQ071] No more than one PartyLegalEntity class may be present</sch:report>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyName - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PartyName">
			<sch:extends rule="PartyNameLanguageCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PostalAddress - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PostalAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PhysicalLocation - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PhysicalLocation">
			<sch:extends rule="AddressIDCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate ValidityPeriod/Description -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PhysicalLocation/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate Address -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PhysicalLocation/cac:Address">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PartyTaxScheme">
			<sch:extends rule="PartyTaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyTaxScheme/TaxScheme - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PartyTaxScheme/cac:TaxScheme">
			<sch:extends rule="TaxSchemeCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  PartyLegalEntity - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:PartyLegalEntity">
			<sch:extends rule="PartyLegalEntityCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Contact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:Contact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Person - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:Party/cac:Person">
			<sch:extends rule="Person/FirstNameCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  DeliveryContact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:DeliveryContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  AccountingContact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:AccountingContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  BuyerContact - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:ContractorCustomerParty/cac:BuyerContact">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>
	</sch:pattern>


	<!-- - - - - - - - - - - -  RequestedCatalogueReference - - - - - - - - - - -  -->
	<sch:pattern name="RequestedCatalogueReference" id="requestedcataloguereference">
		<sch:p>Pattern for validating the RequestedCatalogueReference class</sch:p>
		<sch:rule context="doc:CatalogueRequest/cac:RequestedCatalogueReference">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:assert test="cbc:ID != ''">[F-CRQ025] Invalid ID. Must contain a value</sch:assert>
		</sch:rule>

		<!-- Validate UUID -->
		<sch:rule context="doc:CatalogueRequest/cac:RequestedCatalogueReference/cbc:UUID">
			<sch:extends rule="UUIDCheck"/>
		</sch:rule>

		<!-- Validate IssueDate -->
		<!-- Validate IssueTime -->
		<!-- Validate RevisionDate -->
		<!-- Validate RevisionTime -->

		<!-- Validate Note -->
		<sch:rule context="doc:CatalogueRequest/cac:RequestedCatalogueReference/cbc:Note">
			<sch:extends rule="NoteCheck"/>
		</sch:rule>

		<!-- Validate Description -->
		<sch:rule context="doc:CatalogueRequest/cac:RequestedCatalogueReference/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>

		<!-- Validate VersionID -->
		<!-- Validate PreviousVersionID -->
	</sch:pattern>

	<!-- - - - - - - - - - - -  ReferencedContract - - - - - - - - - - -  -->
	<sch:pattern name="ReferencedContract" id="referencedcontract">
		<sch:p>Pattern for validating the ReferencedContract class</sch:p>
		<sch:rule context="doc:CatalogueRequest/cac:ReferencedContract">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<sch:assert test="cbc:ID != ''">[F-CRQ020] Invalid ID. Must contain a value</sch:assert>
			<!-- Validate -->
			<sch:report test="cbc:ContractType and cbc:ContractTypeCode">[F-CRQ021] Use either ContractType or ContractTypeCode</sch:report>
			<sch:report test="count(cac:ContractDocumentReference) &gt; 1">[F-CRQ022] No more than one ContractDocumentReference class may be present</sch:report>
		</sch:rule>

		<!-- Validate ValidityPeriod -->
		<sch:rule context="doc:CatalogueRequest/cac:ReferencedContract/cac:ValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate Description -->
		<sch:rule context="doc:CatalogueRequest/cac:ReferencedContract/cac:ValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>

		<!-- Validate ContractDocumentReference -->
		<sch:rule context="doc:CatalogueRequest/cac:ReferencedContract/cac:ContractDocumentReference">
			<sch:extends rule="KnownDocumentReferenceCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  TradingTerms - - - - - - - - - - -  -->
	<sch:pattern name="TradingTerms" id="TradingTerms">
		<sch:p>Pattern for validating the TradingTerms class</sch:p>
		<sch:rule context="doc:CatalogueRequest/cac:TradingTerms">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<!-- Validate -->
		</sch:rule>
		<!-- ApplicableAddress -->
		<sch:rule context="doc:CatalogueRequest/cac:TradingTerms/cac:ApplicableAddress">
			<sch:extends rule="AddressCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  DocumentReference - - - - - - - - - - -  -->
	<sch:pattern name="DocumentReference" id="documentreference">
		<sch:p>Pattern for validating the DocumentReference class</sch:p>
		<sch:rule context="doc:CatalogueRequest/cac:DocumentReference">
			<sch:extends rule="DocumentReferenceCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  ApplicableTerritoryAddress - - - - - - - - - - -  -->
	<sch:pattern name="ApplicableTerritoryAddress" id="applicableterritoryaddress">
		<sch:p>Pattern for validating the ApplicableTerritoryAddress class</sch:p>
		<sch:rule context="doc:CatalogueRequest/cac:ApplicableTerritoryAddress">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:extends rule="AddressCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  RequestedLanguage - - - - - - - - - - -  -->
	<sch:pattern name="RequestedLanguage" id="requestedlanguage">
		<sch:p>Pattern for validating the RequestedLanguage class</sch:p>
		<sch:rule context="doc:CatalogueRequest/cac:RequestedLanguage">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<!-- Validate -->
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  RequestedClassificationScheme - - - - - - - - - - -  -->
	<sch:pattern name="RequestedClassificationScheme" id="requestedclassificationscheme">
		<sch:p>Pattern for validating the RequestedClassificationScheme class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:RequestedClassificationScheme">
			<!-- Check for excluded elements -->
			<sch:assert test="count(cac:ClassificationCategory/cac:CategorizesClassificationCategory) = 0">[F-CRQ073] ClassificationCategory/CategorizesClassificationCategory class must be excluded</sch:assert>
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:assert test="cbc:ID != ''">[F-CRQ026] Invalid ID. Must contain a value</sch:assert>
		</sch:rule>

		<!-- Validate UUID -->
		<sch:rule context="doc:CatalogueRequest/cac:RequestedClassificationScheme/cbc:UUID">
			<sch:extends rule="UUIDCheck"/>
		</sch:rule>

		<!-- Validate LastRevisionDate -->
		<!-- Validate LastRevisionTime -->
		<!-- Validate Note (OK, cardinality is 0..1) -->
		<!-- Validate Name -->

		<!-- Validate Description -->
		<sch:rule context="doc:CatalogueRequest/cac:RequestedClassificationScheme/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>

		<!-- Validate AgencyID -->
		<!-- Validate AgencyName -->
		<!-- Validate VersionID -->
		<!-- Validate URI -->
		<!-- Validate SchemeURI -->
		<!-- Validate LanguageID -->

		<!-- Validate ClassificationCategory -->
		<sch:rule context="doc:CatalogueRequest/cac:RequestedClassificationScheme/cac:ClassificationCategory">
			<!-- Check for excluded elements -->
			<!-- Check for mandatory elements -->
			<sch:assert test="cbc:CodeValue != ''">[F-CRQ028] Invalid CodeValue. Must contain a value</sch:assert>
			<!-- Validate -->
		</sch:rule>
		<!-- Validate ClassificationCategory/Description -->
		<sch:rule context="doc:CatalogueRequest/cac:RequestedClassificationScheme/cac:ClassificationCategory/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
	</sch:pattern>

	<!-- - - - - - - - - - - -  CatalogueRequestLine - - - - - - - - - - -  -->
	<sch:pattern name="CatalogueRequestLine" id="cataloguerequestline">
		<sch:p>Pattern for validating the CatalogueRequestLine class</sch:p>

		<!-- - - - - - - - - - - -  Top-level checks - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine">
			<!-- Check for excluded elements -->
			<sch:assert test="count(cbc:RequiredItemLocationQuantity) = 0">[F-CRQ029] RequiredItemLocationQuantity element must be excluded</sch:assert>
			<!-- Check for mandatory elements -->
			<!-- Validate -->
			<sch:assert test="cbc:ID != ''">[F-CRQ100] Invalid ID. Must contain a value</sch:assert>
		</sch:rule>
		<!-- Validate Note -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cbc:Note">
			<sch:extends rule="NoteCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  LineValidityPeriod - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cac:LineValidityPeriod">
			<sch:extends rule="PeriodCheck"/>
		</sch:rule>
		<!-- Validate Description -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cac:LineValidityPeriod/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  RequiredItemLocationQuantity  (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cac:Item">
			<!-- Check for excluded elements -->
			<sch:assert test="count(cbc:PackQuantity) = 0">[F-CRQ032] PackQuantity element must be excluded</sch:assert>
			<sch:assert test="count(cbc:PackSizeNumeric) = 0">[F-CRQ033] PackSizeNumeric element must be excluded</sch:assert>
			<sch:assert test="count(cbc:CatalogueIndicator) = 0">[F-CRQ034] CatalogueIndicator element must be excluded</sch:assert>
			<sch:assert test="count(cbc:HazardousRiskIndicator) = 0">[F-CRQ035] HazardousRiskIndicator element must be excluded</sch:assert>
			<sch:assert test="count(cbc:AdditionalInformation) = 0">[F-CRQ036] AdditionalInformation element must be excluded</sch:assert>
			<sch:assert test="count(cbc:Keyword) = 0">[F-CRQ037] Keyword element must be excluded</sch:assert>
			<sch:assert test="count(cac:BuyersItemIdentification) = 0">[F-CRQ038] BuyersItemIdentification class must be excluded</sch:assert>
			<sch:assert test="count(cac:ManufacturersItemIdentification) = 0">[F-CRQ039] ManufacturersItemIdentification class must be excluded</sch:assert>
			<sch:assert test="count(cac:CatalogueDocumentReference) = 0">[F-CRQ241] CatalogueDocumentReference class must be excluded</sch:assert>
			<sch:assert test="count(cac:ItemSpecificationDocumentReference) = 0">[F-CRQ242] ItemSpecificationDocumentReference class must be excluded</sch:assert>
			<sch:assert test="count(cac:OriginCountry) = 0">[F-CRQ042] OriginCountry class must be excluded</sch:assert>
			<sch:assert test="count(cac:CommodityClassification) = 0">[F-CRQ043] CommodityClassification class must be excluded</sch:assert>
			<sch:assert test="count(cac:TransactionConditions) = 0">[F-CRQ044] TransactionConditions class must be excluded</sch:assert>
			<sch:assert test="count(cac:HazardousItem) = 0">[F-CRQ045] HazardousItem class must be excluded</sch:assert>
			<sch:assert test="count(cac:ClassifiedTaxCategory) = 0">[F-CRQ046] ClassifiedTaxCategory class must be excluded</sch:assert>
			<sch:assert test="count(cac:AdditionalItemProperty) = 0">[F-CRQ047] AdditionalItemProperty class must be excluded</sch:assert>
			<sch:assert test="count(cac:ManufacturerParty) = 0">[F-CRQ048] ManufacturerParty class must be excluded</sch:assert>
			<sch:assert test="count(cac:InformationContentProviderParty) = 0">[F-CRQ049] InformationContentProviderParty class must be excluded</sch:assert>
			<sch:assert test="count(cac:OriginAddress) = 0">[F-CRQ243] OriginAddress class must be excluded</sch:assert>
			<sch:assert test="count(cac:ItemInstance) = 0">[F-CRQ244] ItemInstance class must be excluded</sch:assert>
			<!-- Check for mandatory elements -->
			<!-- Validate -->
		</sch:rule>
		<!-- Validate Description -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cac:Item/cbc:Description">
			<sch:extends rule="DescriptionLanguageCheck"/>
		</sch:rule>
		<!-- Validate PackQuantity (excluded) -->
		<!-- Validate PackSizeNumeric (excluded) -->
		<!-- Validate CatalogueIndicator (excluded) -->
		<!-- Validate Name -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cac:Item/cbc:Name">
      <!-- [Release 20150915] Check removed according to issue: https://bugs.softwareborsen.dk/show_bug.cgi?id=1507 -->
			<!-- sch:report test="string-length(.) &gt; 40">[W-CRQ222] Invalid Name. Should not exceed 40 characters</sch:report -->
		</sch:rule>
		<!-- Validate HazardousRiskIndicator (excluded) -->
		<!-- Validate AdditionalInformation (excluded) -->
		<!-- Validate Keyword (excluded) -->
		<!-- Validate BrandName (OK) -->
		<!-- Validate ModelName (OK) -->

		<!-- - - - - - - - - - - -  Item/BuyersItemIdentification (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/SellersItemIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cac:Item/cac:SellersItemIdentification">
			<sch:extends rule="ItemIdentificationType2Check"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Item/ManufacturersItemIdentification (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/StandardItemIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cac:Item/cac:StandardItemIdentification">
			<sch:extends rule="ItemIdentificationType2Check"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Item/CatalogueItemIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cac:Item/cac:CatalogueItemIdentification">
			<sch:extends rule="ItemIdentificationType2Check"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Item/AdditionalItemIdentification - - - - - - - - - - -  -->
		<sch:rule context="doc:CatalogueRequest/cac:CatalogueRequestLine/cac:Item/cac:AdditionalItemIdentification">
			<sch:extends rule="ItemIdentificationType2Check"/>
		</sch:rule>

		<!-- - - - - - - - - - - -  Item/CatalogueDocumentReference (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/ItemSpecificationDocumentReference (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/OriginCountry (excluded)- - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/CommodityClassification (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/TransactionConditions (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/HazardousItem (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/ClassifiedTaxCategory (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/AdditionalItemProperty (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/ManufacturerParty (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/InformationContentProviderParty (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/OriginAddress (excluded) - - - - - - - - - - -  -->

		<!-- - - - - - - - - - - -  Item/ItemInstance (excluded) - - - - - - - - - - -  -->

	</sch:pattern>

</sch:schema>
