ph-bdve-rules-finvoice/docs/1.3/FinvoiceReceiverInfo.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by FK 07022007 -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="BuyerPartyDetailsType">
		<xs:sequence>
			<xs:element name="BuyerPartyIdentifier" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuyerOrganisationName" maxOccurs="2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuyerPostalAddressDetails" type="BuyerPostalAddressDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BuyerPostalAddressDetailsType">
		<xs:sequence>
			<xs:element name="BuyerStreetName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuyerTownName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuyerPostCodeIdentifier">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BuyerPostOfficeBoxIdentifier" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FinvoiceReceiverInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageDetails" type="MessageDetailsType"/>
				<xs:element name="SellerPartyDetails" type="SellerPartyDetailsType"/>
				<xs:element name="SellerOrganisationUnitNumber" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="5"/>
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="InvoiceSenderInformationDetails" type="InvoiceSenderInformationDetailsType"/>
				<xs:element name="SellerAccountDetails" type="SellerAccountDetailsType" maxOccurs="unbounded"/>
				<xs:element name="SellerInvoiceDetails" type="SellerInvoiceDetailsType"/>
				<xs:element name="ReceiverInfoTimeStamp">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="22"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="BuyerPartyDetails" type="BuyerPartyDetailsType"/>
				<xs:element name="BuyerOrganisationUnitNumber" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="InvoiceRecipientDetails" type="InvoiceRecipientDetailsType"/>
				<xs:element name="ProposedDueDate" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="31"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ProposedInvoicePeriod" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
							<xs:enumeration value="4"/>
							<xs:enumeration value="6"/>
							<xs:enumeration value="12"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="1.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InvoiceRecipientDetailsType">
		<xs:sequence>
			<xs:element name="InvoiceRecipientAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceRecipientIntermediatorAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8"/>
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerInvoiceIdentifier" minOccurs="0" maxOccurs="2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EpiRemittanceIdentifier" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceRecipientLanguageCode" type="LanguageCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceSenderInformationDetailsType">
		<xs:sequence>
			<xs:element name="SellerWebaddressNameText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerWebaddressText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceSenderAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InvoiceSenderIntermediatorAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="8"/>
						<xs:maxLength value="11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageDetailsType">
		<xs:sequence>
			<xs:element name="MessageTypeCode" type="xs:string" fixed="RECEIVERINFO"/>
			<xs:element name="MessageTypeText" type="genericStringType35"/>
			<xs:element name="MessageActionCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ADD"/>
						<xs:enumeration value="CHANGE"/>
						<xs:enumeration value="DELETE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageDate" type="Date"/>
			<xs:element name="SenderInfoIdentifier">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerAccountDetailsType">
		<xs:sequence>
			<xs:element name="SellerAccountID">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="SellerAccountIDType">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SellerBic" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="SellerBicType">
							<xs:minLength value="8"/>
							<xs:maxLength value="11"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerAccountIDType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="IdentificationSchemeName" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="IBAN"/>
							<xs:enumeration value="BBAN"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SellerBicType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="IdentificationSchemeName" type="xs:string" use="required" fixed="BIC"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SellerInvoiceDetailsType">
		<xs:sequence>
			<xs:element name="SellerDirectDebitIdentifier" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerDirectPaymentIdentifier" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentInstructionIdentifier">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerInstructionFreeText" minOccurs="0" maxOccurs="3">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="genericStringType140">
							<xs:attribute name="LanguageCode" type="LanguageCodeType" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SellerInvoiceTypeDetails" maxOccurs="3">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SellerInvoiceTypeText">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="SellerInvoiceTypeTextType">
										<xs:maxLength value="35"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SellerInvoiceIdentifierText" maxOccurs="2">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="SellerInvoiceIdentifierTextType">
										<xs:maxLength value="70"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerInvoiceIdentifierTextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="LanguageCode" type="LanguageCodeType" use="required"/>
				<xs:attribute name="SellerInvoiceIdentifierType" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="01"/>
							<xs:enumeration value="02"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SellerInvoiceTypeTextType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="LanguageCode" type="LanguageCodeType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SellerPartyDetailsType">
		<xs:sequence>
			<xs:element name="SellerPartyIdentifier">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerOrganisationName" maxOccurs="2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerOrganisationBankName" minOccurs="0" maxOccurs="2">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerPostalAddressDetails" type="SellerPostalAddressDetailsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerPostalAddressDetailsType">
		<xs:sequence>
			<xs:element name="SellerStreetName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerTownName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerPostCodeIdentifier">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CountryName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SellerPostOfficeBoxIdentifier" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="48"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Date">
		<xs:simpleContent>
			<xs:extension base="xs:integer">
				<xs:attribute name="Format" type="xs:string" use="optional" fixed="CCYYMMDD"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="LanguageCodeType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="FI"/>
			<xs:enumeration value="SV"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="EN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="genericStringType140">
		<xs:restriction base="xs:string">
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="genericStringType35">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
