ph-bdve-rules-finvoice/docs/1.3/FinvoiceSenderInfo.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT FinvoiceSenderInfo (MessageDetails, SellerPartyDetails, SellerOrganisationUnitNumber?, InvoiceSenderInformationDetails, SellerAccountDetails+, SellerInvoiceDetails, ProposedDueDateAccepted?, ProposedInvoicePeriodAccepted?)>
<!ATTLIST FinvoiceSenderInfo
	Version NMTOKEN #REQUIRED
>
<!ELEMENT MessageDetails (MessageTypeCode, MessageTypeText, MessageActionCode, MessageDate, SenderInfoIdentifier)>
<!ELEMENT SellerPartyDetails (SellerPartyIdentifier, SellerOrganisationName+, SellerPostalAddressDetails?)>
<!ELEMENT SellerOrganisationUnitNumber (#PCDATA)>
<!ELEMENT InvoiceSenderInformationDetails (SellerWebaddressNameText?, SellerWebaddressText?, InvoiceSenderAddress, InvoiceSenderIntermediatorAddress, NewInvoiceSenderAddress?, NewInvoiceSenderIntermediatorAddress?)>
<!ELEMENT SellerAccountDetails (SellerAccountID, SellerBic?, NewSellerAccountID?, NewSellerBic?)>
<!ELEMENT SellerInvoiceDetails (SellerDirectDebitIdentifier?, SellerDirectPaymentIdentifier?, PaymentInstructionIdentifier, SellerInstructionFreeText*, SellerInvoiceTypeDetails+)>
<!ELEMENT ProposedDueDateAccepted (#PCDATA)>
<!ELEMENT ProposedInvoicePeriodAccepted (#PCDATA)>
<!ELEMENT MessageTypeCode (#PCDATA)>
<!ELEMENT MessageTypeText (#PCDATA)>
<!ELEMENT MessageActionCode (#PCDATA)>
<!ELEMENT MessageDate (#PCDATA)>
<!ATTLIST MessageDate
	Format CDATA #FIXED "CCYYMMDD"
>
<!ELEMENT SenderInfoIdentifier (#PCDATA)>
<!ELEMENT SellerPartyIdentifier (#PCDATA)>
<!ELEMENT SellerOrganisationName (#PCDATA)>
<!ELEMENT SellerPostalAddressDetails (SellerStreetName, SellerTownName, SellerPostCodeIdentifier, CountryCode?, CountryName?, SellerPostOfficeBoxIdentifier?)>
<!ELEMENT SellerWebaddressNameText (#PCDATA)>
<!ELEMENT SellerWebaddressText (#PCDATA)>
<!ELEMENT InvoiceSenderAddress (#PCDATA)>
<!ELEMENT InvoiceSenderIntermediatorAddress (#PCDATA)>
<!ELEMENT NewInvoiceSenderAddress (#PCDATA)>
<!ELEMENT NewInvoiceSenderIntermediatorAddress (#PCDATA)>
<!ELEMENT SellerAccountID (#PCDATA)>
<!ATTLIST SellerAccountID
	IdentificationSchemeName (IBAN | BBAN) #REQUIRED
>
<!ELEMENT SellerBic (#PCDATA)>
<!ATTLIST SellerBic
	IdentificationSchemeName CDATA #REQUIRED
>
<!ELEMENT NewSellerAccountID (#PCDATA)>
<!ATTLIST NewSellerAccountID
	IdentificationSchemeName (IBAN | BBAN) #REQUIRED
>
<!ELEMENT NewSellerBic (#PCDATA)>
<!ATTLIST NewSellerBic
	IdentificationSchemeName CDATA #REQUIRED
>
<!ELEMENT SellerDirectDebitIdentifier (#PCDATA)>
<!ELEMENT SellerDirectPaymentIdentifier (#PCDATA)>
<!ELEMENT PaymentInstructionIdentifier (#PCDATA)>
<!ELEMENT SellerInstructionFreeText (#PCDATA)>
<!ATTLIST SellerInstructionFreeText
	LanguageCode NMTOKEN #IMPLIED
>
<!ELEMENT SellerInvoiceTypeDetails (SellerInvoiceTypeText, SellerInvoiceIdentifierText+)>
<!ELEMENT SellerStreetName (#PCDATA)>
<!ELEMENT SellerTownName (#PCDATA)>
<!ELEMENT SellerPostCodeIdentifier (#PCDATA)>
<!ELEMENT CountryCode (#PCDATA)>
<!ELEMENT CountryName (#PCDATA)>
<!ELEMENT SellerPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT SellerInvoiceTypeText (#PCDATA)>
<!ATTLIST SellerInvoiceTypeText
	LanguageCode NMTOKEN #REQUIRED
>
<!ELEMENT SellerInvoiceIdentifierText (#PCDATA)>
<!ATTLIST SellerInvoiceIdentifierText
	LanguageCode NMTOKEN #REQUIRED
	SellerInvoiceIdentifierType NMTOKEN #IMPLIED
>
