ph-bdve-rules-finvoice/docs/1.3/FinvoiceReceiverInfo.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT FinvoiceReceiverInfo (MessageDetails, SellerPartyDetails, SellerOrganisationUnitNumber?, InvoiceSenderInformationDetails, SellerAccountDetails+, SellerInvoiceDetails, ReceiverInfoTimeStamp, BuyerPartyDetails, BuyerOrganisationUnitNumber?, InvoiceRecipientDetails, ProposedDueDate?, ProposedInvoicePeriod?)>
<!ATTLIST FinvoiceReceiverInfo
	Version NMTOKEN #REQUIRED
>
<!ELEMENT MessageDetails (MessageTypeCode, MessageTypeText, MessageActionCode, MessageDate, SenderInfoIdentifier)>
<!ELEMENT SellerPartyDetails (SellerPartyIdentifier, SellerOrganisationName+, SellerOrganisationBankName*, SellerPostalAddressDetails?)>
<!ELEMENT SellerOrganisationUnitNumber (#PCDATA)>
<!ELEMENT InvoiceSenderInformationDetails (SellerWebaddressNameText?, SellerWebaddressText?, InvoiceSenderAddress, InvoiceSenderIntermediatorAddress)>
<!ELEMENT SellerAccountDetails (SellerAccountID, SellerBic?)>
<!ELEMENT SellerInvoiceDetails (SellerDirectDebitIdentifier?, SellerDirectPaymentIdentifier?, PaymentInstructionIdentifier, SellerInstructionFreeText*, SellerInvoiceTypeDetails+)>
<!ELEMENT ReceiverInfoTimeStamp (#PCDATA)>
<!ELEMENT BuyerPartyDetails (BuyerPartyIdentifier?, BuyerOrganisationName+, BuyerPostalAddressDetails?)>
<!ELEMENT BuyerOrganisationUnitNumber (#PCDATA)>
<!ELEMENT InvoiceRecipientDetails (InvoiceRecipientAddress, InvoiceRecipientIntermediatorAddress, SellerInvoiceIdentifier*, EpiRemittanceIdentifier?, InvoiceRecipientLanguageCode)>
<!ELEMENT ProposedDueDate (#PCDATA)>
<!ELEMENT ProposedInvoicePeriod (#PCDATA)>
<!ELEMENT MessageTypeCode (#PCDATA)>
<!ELEMENT MessageTypeText (#PCDATA)>
<!ELEMENT MessageActionCode (#PCDATA)>
<!ELEMENT MessageDate (#PCDATA)>
<!ATTLIST MessageDate
	Format CDATA #FIXED "CCYYMMDD"
>
<!ELEMENT SenderInfoIdentifier (#PCDATA)>
<!ELEMENT SellerPartyIdentifier (#PCDATA)>
<!ELEMENT SellerOrganisationName (#PCDATA)>
<!ELEMENT SellerOrganisationBankName (#PCDATA)>
<!ELEMENT SellerPostalAddressDetails (SellerStreetName, SellerTownName, SellerPostCodeIdentifier, CountryCode?, CountryName?, SellerPostOfficeBoxIdentifier?)>
<!ELEMENT SellerWebaddressNameText (#PCDATA)>
<!ELEMENT SellerWebaddressText (#PCDATA)>
<!ELEMENT InvoiceSenderAddress (#PCDATA)>
<!ELEMENT InvoiceSenderIntermediatorAddress (#PCDATA)>
<!ELEMENT SellerAccountID (#PCDATA)>
<!ATTLIST SellerAccountID
	IdentificationSchemeName (IBAN | BBAN) #REQUIRED
>
<!ELEMENT SellerBic (#PCDATA)>
<!ATTLIST SellerBic
	IdentificationSchemeName CDATA #REQUIRED
>
<!ELEMENT SellerDirectDebitIdentifier (#PCDATA)>
<!ELEMENT SellerDirectPaymentIdentifier (#PCDATA)>
<!ELEMENT PaymentInstructionIdentifier (#PCDATA)>
<!ELEMENT SellerInstructionFreeText (#PCDATA)>
<!ATTLIST SellerInstructionFreeText
	LanguageCode NMTOKEN #IMPLIED
>
<!ELEMENT SellerInvoiceTypeDetails (SellerInvoiceTypeText, SellerInvoiceIdentifierText+)>
<!ELEMENT BuyerPartyIdentifier (#PCDATA)>
<!ELEMENT BuyerOrganisationName (#PCDATA)>
<!ELEMENT BuyerPostalAddressDetails (BuyerStreetName, BuyerTownName, BuyerPostCodeIdentifier, CountryCode?, CountryName?, BuyerPostOfficeBoxIdentifier?)>
<!ELEMENT InvoiceRecipientAddress (#PCDATA)>
<!ELEMENT InvoiceRecipientIntermediatorAddress (#PCDATA)>
<!ELEMENT SellerInvoiceIdentifier (#PCDATA)>
<!ELEMENT EpiRemittanceIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientLanguageCode (#PCDATA)>
<!ELEMENT SellerStreetName (#PCDATA)>
<!ELEMENT SellerTownName (#PCDATA)>
<!ELEMENT SellerPostCodeIdentifier (#PCDATA)>
<!ELEMENT CountryCode (#PCDATA)>
<!ELEMENT CountryName (#PCDATA)>
<!ELEMENT SellerPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT SellerInvoiceTypeText (#PCDATA)>
<!ATTLIST SellerInvoiceTypeText
	LanguageCode NMTOKEN #REQUIRED
>
<!ELEMENT SellerInvoiceIdentifierText (#PCDATA)>
<!ATTLIST SellerInvoiceIdentifierText
	LanguageCode NMTOKEN #REQUIRED
	SellerInvoiceIdentifierType NMTOKEN #IMPLIED
>
<!ELEMENT BuyerStreetName (#PCDATA)>
<!ELEMENT BuyerTownName (#PCDATA)>
<!ELEMENT BuyerPostCodeIdentifier (#PCDATA)>
<!ELEMENT BuyerPostOfficeBoxIdentifier (#PCDATA)>
