phive-rules-serbia/src/test/resources/external/rule-source/1.0.0/EN16931-UBL-srbdt-pdvcat-oe.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="pdvcat" id="pdvcat-oe">
  <param name="PDVCATCODE" value="OE"/>
  <param name="RSK-X-01" value="RSK-OE-01"/>
  <param name="RSK-X-05" value="RSK-OE-05"/>
  <param name="RSK-X-06" value="RSK-OE-06"/>
  <param name="RSK-X-07" value="RSK-OE-07"/>
  <param name="RSK-X-08" value="RSK-OE-08"/>
  <param name="RSK-X-09" value="RSK-OE-09"/>
  <param name="RSK-X-10" value="RSK-OE-10"/>
</pattern>