phive-rules-serbia/src/test/resources/external/rule-source/1.0.0/EN16931-UBL-srbdt-pdvcat-n.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="pdvcat" id="pdvcat-n">
  <param name="PDVCATCODE" value="N"/>
  <param name="RSK-X-01" value="RSK-N-01"/>
  <param name="RSK-X-05" value="RSK-N-05"/>
  <param name="RSK-X-06" value="RSK-N-06"/>
  <param name="RSK-X-07" value="RSK-N-07"/>
  <param name="RSK-X-08" value="RSK-N-08"/>
  <param name="RSK-X-09" value="RSK-N-09"/>
  <param name="RSK-X-10" value="RSK-N-10"/>
</pattern>