phive-rules-serbia/src/test/resources/external/rule-source/1.0.0/EN16931-UBL-srbdt-pdvcat-ss.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="pdvcat" id="pdvcat-ss">
  <param name="PDVCATCODE" value="SS"/>
  <param name="RSK-X-01" value="RSK-SS-01"/>
  <param name="RSK-X-05" value="RSK-SS-05"/>
  <param name="RSK-X-06" value="RSK-SS-06"/>
  <param name="RSK-X-07" value="RSK-SS-07"/>
  <param name="RSK-X-08" value="RSK-SS-08"/>
  <param name="RSK-X-09" value="RSK-SS-09"/>
  <param name="RSK-X-10" value="RSK-SS-10"/>
</pattern>