phive-rules-serbia/src/test/resources/external/rule-source/1.0.0/EN16931-UBL-srbdt-pdvcat-r.sch

<?xml version="1.0" encoding="UTF-8"?>
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="pdvcat" id="pdvcat-r">
  <param name="PDVCATCODE" value="R"/>
  <param name="RSK-X-01" value="RSK-R-01"/>
  <param name="RSK-X-05" value="RSK-R-05"/>
  <param name="RSK-X-06" value="RSK-R-06"/>
  <param name="RSK-X-07" value="RSK-R-07"/>
  <param name="RSK-X-08" value="RSK-R-08"/>
  <param name="RSK-X-09" value="RSK-R-09"/>
  <param name="RSK-X-10" value="RSK-R-10"/>
</pattern>