phive-rules-finvoice/docs/2.0/FinvoiceackEb.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by FK 30062009 -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.oasis-open.org/committees/ebxml-msg/schema/msg-header-2_0.xsd" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="To">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PartyId" type="xs:string"/>
				<xs:element name="Role" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="From">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PartyId" type="xs:string"/>
				<xs:element name="Role" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MessageId" type="xs:string"/>
	<xs:element name="Timestamp" type="xs:string"/>
</xs:schema>
